<div class="d-flex justify-content-center align-items-center w-100">
  <div id="login-form" class="card w-50 mt-5">
    <h2 class="card-header text-center">Log In</h2>
    <form action="/auth/login" method="POST" class="card-body">
      <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email"  class="form-control"  id="email" name="email" placeholder="Your email" />
      </div>
      <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Your password" />
      </div>      
      
      <div class="w-100 d-flex justify-content-center pt-3">
        <button type="submit" class="btn btn-primary w-50">Log In</button>
      </div>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>