<div class="d-flex justify-content-center align-items-center w-100">
<div id="form" class="card w-50 ">
  <h2 class="card-header text-center">Sign Up</h2>
<form action="/auth/signup" method="POST" class="card-body row row-gap-3 w-100">
  <div class="col-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" id="name" class="form-control" name="name" placeholder="Your name" />
  </div>
  <div class="col-6">
    <label for="surname" class="form-label">Surname</label>
    <input type="text" id="surname" class="form-control" name="surname" placeholder="Your surname" />
  </div>
  {{!-- <div class="row mb-3">
  </div> --}}
  <div class="col-12">
    <label for="email" class="form-label">Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Your email" />
  </div>
  <div class="col-6"> 
    <label for="gender" class="form-label">Gender</label>
    <select class="form-select form-select-sm" name="gender" id="gender" aria-label="Please select your gender">
      <option>Please select your gender</option>
      {{#each genders}}
        <option value="{{this.value}}" {{markSelected "" this.value}}>
            {{this.label}}
        </option>
      {{/each}}
    </select>
  </div>
  <div class="col-6">  
    <label for="date" class="form-label">Birthdate</label>
    <input type="date"  id="date" class="form-control" value="date" name="birthdate" />
  </div>

  <div class="col-12" >
    <label for="password" class="form-label">Password</label>
    <input type="password"id="password"   class="form-control" name="password" placeholder="Enter your password" />
    <span class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
  <div class="col-12 d-flex justify-content-center pt-3">
    <button type="submit" class="btn btn-primary w-50">Sign Up</button>
  </div>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

</form>
</div>
</div>