<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="/images/images.jpg"
              alt="Logo"
              width="30"
              height="24"
              class="d-inline-block align-text-top"
            />
            Running Planet
          </a>
          <a class="navbar-brand" href="#">
            Events
          </a>
        </div>
        <div class="container-fluid">
        </div>
      </nav>

      <nav>
        <ul>
          <li>
            <a href="/">
              {{! <img src="" alt="logo"> }}
              Running Planet
            </a>
          </li>
          <li>
            <a href="/event/list">Events</a>
          </li>
          {{#if hasLoggedIn}}
            <li>
              <a href="/user/profile">Profile</a>
            </li>
            <li>
              <a href="/auth/logout">Logout</a>
            </li>
          {{else}}
            <li>
              <a href="/auth/login">Login</a>
            </li>
            <li>
              <a href="/auth/signup">Signup</a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </header>

    {{{body}}}

    <script src="/js/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>

</html>