<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    {{#if loggedIn}}
      <nav>
        <a href="/">Running Planet</a>
        <a href="/event/list">Events</a>
        <a href="/">Profile</a>
        <a href="/">Sign out</a>
      </nav>
    {{else}}
      <nav>
        <a href="/">Running Planet</a>
        <a href="/event/list">Events</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
      </nav>
    {{/if}}

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>