<h1>
    My Profile
</h1>
<hr />
<p>Full name:</p>
<h3>{{userDetails.name}}{{userDetails.surname}}</h3>

<p>Date of Birth:</p>
<h3>{{userDetails.birthdate}}</h3>

<p>Gender:</p>
<h3>{{userDetails.gender}}</h3>

<hr />

<a href="/user/profile/edit"><button>Edit Profile</button></a>